{{#each dbBusiness}}
    {{!-- <div class="business_card_item" onclick="location.href='http://zerofoodwaste.herokuapp.com/business/{{this.id}}/detail'"> --}}
        <img src="{{imageUrlBusiness}}" class="business_card_item_img" alt="{{title}}">
        <div>
        <h3>{{this.businessName}}</h3>
        <h4>Type: {{this.businessType}}</h4>
        <h4>City: {{this.city}}</h4>
        </div>
    </div>
{{/each}}