{{#each dbProducts}}  
    <div class="offers_card_item">
        <img src="{{imageUrlProduct}}" class="offers_card_item_img" alt="{{title}}">
        <h3> {{this.description}}</h3>
        <h4>Price: {{this.price}}</h4>
        <form action="/orders" method= "POST" > 
            <input style= "display: none" value="{{this.businessName}}" id="businessName" name="businessName">
            <input style="display: none" value="{{this._id}}" id="order" name="order">
            <input style="display: none" value="{{dbUser.id}}" id="user" name="user" >
            <button type= "submit" class="offers_card_item_btn">Order</button>
        </form>
    </div> 
{{/each}}