{{#each dbOrders}}
    <div class="user_orders_page_item">
        <img class="user_content_card_image" src="{{this.business.imageUrlBusiness}}" class="offers_card_item_img" alt="{{title}}">
        <p class="content_card_user">{{this.business.businessName}}</p>
        <p class="content_card_user">Price: {{money}}$</p>
        <p class="content_card_user">Status: {{this.status}}</p>
        <p class="content_card_id">Date: {{this.createdAt}}</p>
        <a href="/orders/{{this.id}}/details">Details</a>
    </div>
{{/each}}