<div class= "product_list_card">
    <img src="{{this.imageUrlProduct}}" class="tbd" alt="{{title}}">
    <div>
        <h4>{{this.description}}</h4>
        <h4>Price: {{this.price}}</h4>
        <form action="/business/products/{{this.id}}/delete" method="POST">
            <input type="submit" class="busines_orders_btn" value="Remove product">
        </form>
    </div>
</div>