<div class="user_homepage_container">
    <div>
        <img src="{{dbBusiness.imageUrlBusiness}}" class="business_card_item_img" alt="{{title}}">
        <h1>{{dbBusiness.businessName}}</h1>
        <h2>Type: {{dbBusiness.businessType}}</h2>
        <h2>City: {{dbBusiness.city}}</h2>
    
    <div class= "business_details_offer_container">
        {{> businessDetailOffers}}
    </div>
</div>