<div class="collaborators_page_container">
    <nav class="collaborators_page_nav">
        <a href="/">Go back</a>
    </nav>
    
    <div class="collaborators_page_content">
        {{#each dbBusiness}}
        <div class="collaborators_page_item">
            <img src="{{this.imageUrlBusiness}}" class="tbd" alt="{{title}}">
            <div>
                <h3 class="business_card_title">{{this.businessName}}</h3>
                <h4 class="business_card_type">Speciality: {{this.businessType}}</h4>
                <h4 class="business_card_location">Location: {{this.city}}</h4>        
            </div>
        </div>
        {{/each}}
    </div>
</div>