{{#if dbBusiness}}
<div style="display: flex; align-items: baseline">
    <a href="/user/profile">Back </a> <span> | </span>
    <a href="/business/profile/edit"> Update business data </a> <span> | </span>
    <a href="/business/product"> Add new product </a> <span> | </span>
    <form action="/auth/logout" method="post">
        <input type="submit" value="Log out" style="width: 100%; background-color: transparent; border: none; color: #00B7FF; font-size: 1rem"></input>
    </form>
</div>

<div style="display: flex; flex-direction:column; justify-content:space-evenly; align-items: center; text-align: center;">
    <h1>Welcome, {{ dbBusiness.businessName }}!</h1>
    <h3>This is your profile page my friend!</h3>


    <h2 style="text-align: center;">Current orders: </h2>
    {{#if currentOrders}}
        <div id="list">
            {{#each currentOrders}}
                <div id="business">
                    <h2>New order!</h2>
                    <p>Order ID: {{this._id}}</p>
                    <p>User: {{this.user.firstName}}</p>
                    <p>Product: {{this.product.description}}</p>
                </div>
            {{/each}}
        </div>
        {{else}}
        <p>There are no orders at the moment!</p>
    {{/if}}

    <h2 style="text-align: center;">Current products: </h2>
    {{#if dbProducts}}
        <div id="list">
            {{#each dbProducts}}
                <div id="business">
                    <h2>{{this.description}}</h2>
                    <p>Price: {{this.price}}</p>
                </div>
            {{/each}}
        </div>
        {{else}}
        <p>There are no products at the moment!</p>
    {{/if}}

    {{else}}
    <p>Still no logged in user, sorry!</p>
    {{/if}}
</div>