{{#if businessFromDB}}
<div style="display: flex; align-items: baseline">
    <a href="/">Back </a> <span> | </span>
    <a href="/business/{{businessFromDB.id}}/edit"> Update business data </a> <span> | </span>
    <a href="/business/{{businessFromDB.id}}/product"> Add new product </a> <span> | </span>
    <form action="/auth/logout" method="post">
        <input type="submit" value="Log out" style="width: 100%; background-color: transparent; border: none; color: #00B7FF; font-size: 1rem"></input>
    </form>
</div>

<h1>Welcome, {{ businessFromDB.businessName }}!</h1>
<p>This is your profile page my friend!</p>
<button>
    <a href="/business/{{businessFromDB.id}}">Reload the page</a>
</button>

{{#if currentOrders}}
    <h2 style="text-align: center;">Current orders: </h2>
    <div id="list">
        {{#each currentOrders}}
            <div id="business">
                <h2>New order!</h2>
                <p>Order ID: {{this._id}}</p>
                <p>Customer: {{this.customer.firstName}}</p>
                <p>Product: {{this.product.description}}</p>
            </div>
        {{/each}}
    </div>
{{/if}}

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}