<div id="business">

    <h1>Business home page </h1>
    {{!-- <a href="/">Back</a> --}}
    <ul>
        <li>
            <h2><a href="/business/{{businessFromDB.id}}/edit"> Update business data </a> <span> | </span>
            <a href="/business/{{businessFromDB.id}}/product"> Add new product </a></h2>
        </li>
    </ul>
    <form action="/auth/logout" method="post">
        <button type="submit" class="logOut">Log out</button>
    </form>
</div>



{{#if businessFromDB}}
<h2>Welcome, {{ businessFromDB.businessName }}!</h2>
<p>This is your profile page my friend!</p>
<button>
    <a href="/business/{{businessFromDB.id}}">Reload the page</a>
</button>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}