<h1 style="text-align: center;">Edit user</h1>
<a href="/user/profile">Back</a> 
<div id="edit">
  <form action="/user/profile/edit" method="POST">

    <label for="firstName">First Name: </label>
    <input type="text" id="firstName" name="firstName" value="{{dbUser.firstName}}">
    <label for="lastName">Last Name: </label>
    <input type="text" id="lastName" name="lastName" value="{{dbUser.lastName}}">
    <label for="city">City: </label>
    <input type="text" id="city" name="city" value="{{dbUser.city}}">
    <label for="age">Age: </label>
    <input type="number" id="age" name="age" value="{{dbUser.age}}">
    <label for="input-email">Email</label>
    <input type="email" id="input-email" name="email" value="{{dbUser.email}}" />
    <button type="submit">Save changes</button>
  </form>

</div>