<div class="user_homepage_container">

{{#if dbUser }}

<div class="user_homepage_nav">  
    <a href="/orders">Orders</a> <span> | </span>
    <a href="/user/profile/edit"> Profile </a>  <span> | </span>
    <form action="/auth/logout" method="post">
        <input class= "logout_btn" type="submit" value="Log out" ></input>
    </form>
</div>

<div class="user_homepage_greetings">
  <div class="user_homepage_greetings_helloUser">
    <h4>Welcome, <br> {{ dbUser.firstName }}!</h4>
  </div>

  <div class="user_homepage_isBusiness">
    {{#if isBusiness }}
      <div>
       <button class="user_homepage_isBusiness_button"><a href="/business/profile"> Manage my business </a></button>
      </div>
    {{else}}
      <div>
        <button  class="user_homepage_isBusiness_button"><a href="/business/add">Do you own a business? <br> Add your business!!</a></button>
      </div>
    {{/if}}
  </div>  
</div>

<h3>Businesses near you</h3>
<div id="list">
    {{#each dbBusiness}}
    <div id="business">
        <h1>{{this.businessName}}</h1>
        <h2>Type: {{this.businessType}}</h2>
        <h2>City: {{this.city}}</h2>
    </div>
    {{/each}}
</div>


<h2 style="text-align: center;">Offers</h2>
<div id="list">
    {{#each dbProducts}}   
    <div id="business">
        <h1> {{this.description}}</h1>
        <h2>Price: {{this.price}}</h2>
        <form action="/orders" method= "POST" > 
          <input style= "display: none" value="{{this.businessName}}" id="businessName" name="businessName">
          <input style="display: none" value="{{this._id}}" id="order" name="order">
          <input style="display: none" value="{{dbUser.id}}" id="user" name="user" >
          <button type= "submit" style="width: 100%">Order Product</button>
        </form>
    </div>    
      {{/each}}
</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} 
</div>

