<div class="user_homepage_container">

  {{#if dbUser }}

  <div class="user_homepage_nav">  
      <a href="/orders">Orders</a> <span> | </span>
      <a href="/user/profile/edit"> Profile </a>  <span> | </span>
      <form action="/auth/logout" method="post">
          <input class= "logout_btn" type="submit" value="Log out" ></input>
      </form>
  </div>


  <h2 class= "user_homepage_title_offers">Offers</h2>

  <div class="offers_card_container">   
    <div class="offers_card_container_scroll"> 
      {{#each dbProducts}}   
      <div class="offers_card_item">
          <img src="{{imageUrlProduct}}" class="offers_card_item_img" alt="{{title}}">
            <h3> {{this.description}}</h3>
            <h4>Price: {{this.price}}</h4>
            <form action="/orders" method= "POST" > 
              <input style= "display: none" value="{{this.businessName}}" id="businessName" name="businessName">
              <input style="display: none" value="{{this._id}}" id="order" name="order">
              <input style="display: none" value="{{dbUser.id}}" id="user" name="user" >
              <button type= "submit" class="offers_card_item_btn">Order</button>
            </form>
      </div> 
      {{/each}}     
    </div>    
        
  </div>
  
  <h2 class= "user_homepage_title">Near business</h2>

  <div class="business_card_container">
      {{#each dbBusiness}}
      <div class="business_card_item" onclick="location.href='http://localhost:3000/business/{{this.id}}/detail'">
         <img src="{{imageUrlBusiness}}" class="business_card_item_img" alt="{{title}}">
          <h3>{{this.businessName}}</h3>
          <h4>Type: {{this.businessType}}</h4>
          <h4>City: {{this.city}}</h4>
      </div>
      {{/each}}
  </div>


  <div class="user_homepage_footer">
      <h4>Welcome, {{ dbUser.firstName }}!</h4> <span> | </span>
      {{#if isBusiness }}
        <form action="/business/profile" method="get">     
        <input type="submit" value="Manage my business" class="green_btn"></input>
        </form>
      {{else}}
        <form action="/business/add" method="get">    
          <input type="submit" value="Are you an owner? Add your business!!" class="green_btn"></input>
        </form>
      {{/if}} 
  </div>


  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}} 
</div>