<div class="orders_page_container">
    <nav class="orders_page_nav">
        <a href="/user/profile">Back</a> <span> | </span>
        <form action="/auth/logout" method="post">
            <input type="submit" value="Log out" class="green_btn"></input>
        </form>
    </nav>

    <h1>Order history</h1>
    {{#if dbOrders}}
        {{#each dbOrders}}
                <div class="orders_page_item">
                    <h2>{{this.product.description}}</h2>
                    <p>Price: {{this.product.price}}</p>
                    <p>Business: {{this.product.businessName.businessName}}</p>
                    <p>Order ID: {{this._id}}</p>
                </div>
        {{/each}}
    {{else}}
        <h2>There's no orders in your history!</h2>
    {{/if}}
</div>